.correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }
  
  #alert {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    color: green;
    display: none;
  }